# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[S3E]
MemSize=50000000
DispFixRot=FixedPortrait
MemSizeDebug = 90000000
SplashScreenBkB=0
SplashScreenBkR=0
SplashScreenBkG=0
AudioAllowBackground=false

[Util]
MemMgrMaxAllocWarning=0

[GX]
DataCacheSize=314800 # Allocate 100k for the data cache

[2D]
MaxBatch=1800