<config template="project (default)" platform="project">Created: Fri Jun 6 09:33:00 2014&#xd;
By: lucasgeiken&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="USSCRadio" name="name"/>
    <option fromDef="true" value="USSCRadio" name="caption"/>
    <option fromDef="true" value="Garret" name="provider"/>
    <option fromDef="true" value="(C) Garret" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
