<config template="project (default)" platform="project">Created: Fri Jun 6 09:33:00 2014&#xd;
By: lucasgeiken&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="USSCRadio" fromDef="true"/>
    <option name="caption" value="USSCRadio" fromDef="true"/>
    <option name="provider" value="lucasgeiken" fromDef="true"/>
    <option name="copyright" value="(C) lucasgeiken" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
